@inherits LayoutComponentBase
@inject NavigationManager Navigation

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body

            @if (!IsHomePage())
            {
                <LogoutButton />
            }
        </article>
    </main>
</div>

@code {
    private bool IsHomePage()
    {
        var currentUrl = Navigation.Uri;
        return currentUrl.EndsWith("/") || currentUrl.EndsWith("/home");
    }
}
