@inherits LayoutComponentBase
@inject NavigationManager Navigation

<div class="page">
    @*    <div class="sidebar">
    <NavMenu />
    </div>  *@

    @Body

    @if (!IsHomePage())
    {
        <LogoutButton />
    }
</div>

@code {
    private bool IsHomePage()
    {
        var currentUrl = Navigation.Uri;
        return currentUrl.EndsWith("/") || currentUrl.EndsWith("/Login");
    }
}
